<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="His_Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="His_Pos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <His_Pos.Properties.Settings>
            <setting name="SQL_local" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_global" serializeAs="String">
                <value />
            </setting>
            <setting name="MedBagPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="SystemSerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DeclareXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReaderComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptForm" serializeAs="String">
                <value />
            </setting>
        </His_Pos.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <His_Pos.Properties.Settings>
      <setting name="SingdeServer" serializeAs="String">
        <value>Database=rx_center;Server=59.124.201.229;Port=3310;User Id=pharm;Password=qwaszx101819;SslMode=none</value>
      </setting>
    </His_Pos.Properties.Settings>
  </applicationSettings>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
		<gcServer enabled="false" />
		<legacyUnhandledExceptionPolicy enabled="false" />
		<legacyImpersonationPolicy enabled="true"/>
		<alwaysFlowImpersonationPolicy enabled="false"/>
		<SymbolReadingPolicy enabled="1" />
	</runtime>
</configuration>